// Blue -- 4 Degrees
$primary-blue: #18698d;
$secondary-blue: #4e80ad;
$tertiary-blue: #70a2b8;
$quaternary-blue: #2bafe8;
$quinary-blue: #3eafe2;
$background-blue: #30a3f5;
$light-blue: #2ba7df;

// Gray -- 11 Degrees
$text-primary-gray: #a5a5aa;
$text-secondary-gray: #a2a2a7;
$text-tertiary-gray: #bcbcbc;
$text-quaternary-blue-table: #b3b3b8;

$first-background-icon-gray: #efefef;
$second-background-icon-gray: #dedede;

$table-background-gray: #ebebf3;

$header-background-white: #ffffff;
$feature-background-gray: #f8f8fd;

$border-gray: #d7d7db;

$progress-background-gray: #e3e3e4;
